* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth; 
  }

body{
    min-width: 320px;
    font-family: Montserrat;
    background-color: rgb(84, 123, 136);
    font-size: 30px;
    margin: 0;
    color: white;
}

.all_haff{
    min-width: 100%;
    height: calc(100vh - 85px);
    margin: 0 auto;
}

.image_back{
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background-image: url("../js30-1.1eco-sounds/assets/img/iskorki.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}


.audio_player{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 575px;
    background-color:rgb(84, 123, 136);
    border: 10px outset rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    overflow: hidden;
}

.audio_img{
    max-width: 450px;
   height: 300px;
    overflow: hidden;
}

.audio_autor{
    width: 330px;
    margin: 0 auto;
    padding-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    transition: 1s;
}

.audio_song{
    color: rgb(31, 47, 52);
    font-size: 17px;
    text-align: center;
    transition: 1s;
}

.audio_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}

.conteiner_arrow_next, .conteiner_arrow_befor{
    width: 48px;
    height: 50px;
    border-radius: 50%;
    transition: 1s;
}

.conteiner_arrow_next:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.792);
    cursor: pointer;
}

.conteiner_arrow_befor:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.792);
    cursor: pointer;
}

.conteiner_arrow_play{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../js30-1.1eco-sounds/assets/svg/play.png");
    background-size: contain;
    transition: 1s;
}

.conteiner_arrow_play:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.792);
    cursor: pointer;
}

.after_click{
    background-color: rgb(120, 173, 191);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.792);
    cursor: pointer;
}

.button_pause{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../js30-1.1eco-sounds/assets/svg/pause.png");
    background-size: contain;
    transition: 1s;
}

/*
.audio_progressbar{
    margin-left: 60px;
}

.progress_bar{
    background: rgb(19, 87, 132);
    width: 300px;
}


.time{
    display: flex;
    justify-content: space-between;
   width: 290px;
   
}

.under_time{
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.after_time{
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}*/

#audio-player {
    width: 80%;
    margin: 22px 0 0 45px;
    z-index: 1;
  }

  #progress-container {
    width: 100%;
    height: 10px;
    margin-top: -237px;
    background-color: #ffffff;
z-index: 2;
    cursor: pointer;
  }

  #progress-bar {
    width: 0;
    height: 100%;
    background-color: #0d2137;
  }

  .music_img{
    width: 5%;
    margin:0 0 -175px 57px;
    position: relative;
    z-index: 2;
  }

/*
.header_img_and_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.logotip{
    width: 1%;
    margin-left: 30px;
    margin-top: 15px;
    fill: #fff;
}

.logotip:hover svg {
    fill: #BBAC82;
    cursor: pointer;
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type:  none;
    margin-right: 30px;
    margin-top: 15px;
}

.name_solovey:hover{
    cursor: pointer;
    color: #BBAC82;;
}

.name_drozd:hover{
    cursor: pointer;
    color: #BBAC82;;
}

.name_malinovka:hover{
    cursor: pointer;
    color: #BBAC82;;
}
.name_zavoronok:hover{
    cursor: pointer;
    color: #BBAC82;;
}

.name_slavka:hover{
    cursor: pointer;
    color: #BBAC82;;
}

.active_solovey{
    color: #BBAC82;
}

.active_drozd{
    color: #BBAC82;
}

.active_malinovka{
    color: #BBAC82;
}

.active_javoronok{
    color: #BBAC82;
}

.active_slavka{
    color: #BBAC82;
}

.main_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-image: url("../js30-1.1eco-sounds/assets/img/forest.jpg");
    background-size: cover;
    transition: 1s;
}

.solovey_main_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-size: cover;
    background-image: url("../js30-1.1eco-sounds/assets/img/solovey.jpg");
    transition: 1s;
}

.drozd_main_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-size: cover;
    background-image: url("../js30-1.1eco-sounds/assets/img/drozd.jpg");
    transition: 1s;
}

.malinovka_main_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-size: cover;
    background-image: url("../js30-1.1eco-sounds/assets/img/zarynka.jpg");
    transition: 1s;
}

.zavoronok_main_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-size: cover;
    background-image: url("../js30-1.1eco-sounds/assets/img/javoronok.jpg");
    transition: 1s;
}

.slavka_main_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    background-size: cover;
    background-image: url("../js30-1.1eco-sounds/assets/img/slavka.jpg");
    transition: 1s;
}

.baton_play{
    border: 0;
    width: 120px;
    height: 120px;
    background-color: transparent;
    background-image: url("../js30-1.1eco-sounds/assets/svg/play.svg");
    background-size: contain;
    transition: 0.5s;
}

.baton_play:hover{
    width: 161px;
    height: 161px;
    cursor: pointer;
}

.baton_pause{
    background-image: url("../js30-1.1eco-sounds/assets/svg/pause.svg");
}
*/
.fotter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_fotter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.my_github{
    color: white;
    text-decoration: none;
}

.my_github:hover{
    color: #BBAC82;
    cursor: pointer;
}

.rss{
    margin-right: 25px;
    margin-bottom: 25px;
    fill: #fff;
}

.rss:hover{
    fill: #BBAC82;
    cursor: pointer;
}

